const char user_hostname[] = "reflow";
const char user_wifi_ssid[] = "";
const char user_wifi_password[] = "";
const char mqtt_host[] = "192.168.1.000";
const char mqtt_username[] = "";
const char mqtt_password[] = "";